<div class="large-8 columns">
  <div class="videoWrapper">
    <iframe width="560" height="315" src="//www.youtube.com/embed/<%= @video.url %>" frameborder="0" allowfullscreen></iframe>
  </div>
  <div id="main" class="video-info">
    <h3><%= @video.title %></h3>
    <p>posted by <%= @video.user.username %></p>
    <p>video url: <%= link_to "video", @video.url %></p>
  </div>
</div>

<div class="large-4 columns">
sidebar.
</div>

