// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background: #f3f3f3;
  min-width: 1024px;
}

.notice, .alert {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px 20px;
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.body-container {
  padding-top: 125px;
  position: relative;
  z-index: 1;
}

#main-header {
  height: 61px;
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  .logo {

  }
  .main-search {

  }
  .user-info {
    text-align: right;
  }
  .button-group {
    float: right;
  }
}

#top-bar {
  background: #fff;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  .selector {
    margin: 0 auto;
    text-align: center;
    height: 28px;
    a {
      display: inline-block;
      color: black;
      margin: 0 10px;
      &:hover {
        padding-bottom: 11px;
        border-bottom: 3px solid red;
      }
    }
  }
}

.main {
  background: #fff;
  padding: 10px 20px;
  border: 1px solid #ddd;
}

#main-footer {
  border-top: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
}

.video-list {
  li {
    height: 300px;
    img {
      margin-bottom: 10px;
    }
  }
}

.video-info {
  margin: 20px 0;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//sidebar
.sidebar {
  &.video-feed {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      width: 100%;
      &:after {
        content: " ";
        visibility: hidden;
        clear: both;
        display: block;
      }
    }
    .thumbnail {
      width: 120px;
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;

    }
    .info {
      width: auto;
    }
  }
}

//edit screen
.edit {
  textarea {
    height: 200px;
  }
}


