<div class="large-12 columns">


  <div class="main playlist-info">
    <h3><%= @playlist.name %></h3>
    <p>created by <%= link_to @playlist.user.username, @playlist.user %></p>
  </div>

  <div class="main playlist-details">
    <h4>Videos</h4>
    <ul class="videos-list small-block-grid-4">
    <% @videos.each do |video| %>
      <li>
        <%= link_to image_tag("http://img.youtube.com/vi/#{video.url}/hqdefault.jpg", :border => 0), video %>
        <h5><%= link_to video.title, video %></h5>
      </li>
    <% end %>
    </ul>
  </div>

</div>
